{{#if loggedIn}}
<section class="comment">
  <div class="comment-details">
    <h5>{{comment.user_id}}</h5>
    <h5>{{comment.date_created}}</h5>
    <p>{{comment.content}}</p>
  </div>
{{else}}<a href="/login">Log in to see this page</a>
{{/if}}
</section>