<section class="card">
  <a href="/api/sport/{{id}}">
    <img src="../images/{{filename}}" class="card-img-top" alt="image of the sport">
    <div class="card-body">
      <h3 class="card-title">{{name}}</h3>
    </div>
  </a>
</section>