<section class="card sport-card">
  <a href="/sport/{{id}}">
    <img src="../images/{{filename}}" class="card-img-top" alt="image of the sport">
    <div class="card-img-overlay">
      <p class="card-title">{{name}}</p>
    </div>
  </a>
</section>