<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SportSpot</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>SportSpot</h1>
  </header>

  <main>
  {{{body}}}
  </main>

  <footer>
    <nav class="navbar">
      <div class="container">
        <div class="row">

          <div class="col-sm">
            <!-- home/feed icon-->
            <button id="nav-btn">Home</button>
          </div>

          <div class="col-sm">
            <!-- create post icon-->
            <button id="nav-btn">Post</button>
          </div>

          <div class="col-sm">
            <!-- profile icon if loggedin, login link if not-->
            {{#if loggedIn}}
            <button id="nav-btn">Profile</button>
            {{else}}
            <button id="nav-btn"><a href="/login" id="nav-btn">Login</a></button>
            {{/if}}
          </div>

        </div>
      </div>
    </nav>
  </footer>
</body>

</html>