<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SportSpot</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>SportSpot</h1>
  </header>
  <card>
    <h3>Soccer</h3>
  </card>
  <card>
    <h3>Football</h3>
  </card>
  <card>
    <h3>Basketball</h3>
  </card>
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <!-- home/feed icon-->
            <p>Home</p>
          </div>
          <div class="col-sm">
            <!-- create post icon-->
            <p>Post</p>
          </div>
          <div class="col-sm">
            <!-- profile icon-->
            <p>Profile</p>
          </div>
        </div>
      </div>
    </nav>
  </footer>
</body>

</html>