{{!-- {{#if loggedIn}} --}}

<!-- creating and posting a new blog post -->
<form class="form post-form">
  <div>
    <label for="post">Blog Title</label>
    <input id="post-title" type="text" required />
    <label for="post">Blog Post</label>
    <input id="post-content" type="text"/>
  </div>

</form>

<!-- Ask them to login via login link supplied -->
{{!-- {{else}}<a href="/login">Please log in to view this page</a>
{{/if}} --}}
</section>


<section class="blog-post">
  <div class="blog-post-details">
<label for="sport">Please Choose a Sport from the Dropdown Menu:</label>
<div></div>
<select name="sport" id="selectsport" required>
  <option disabled selected hidden>Select Sport</option> 
  <option value="1">Basketball</option>
  <option value="2">Tennis</option>
  <option value="3">Soccer</option>
  <option value="4">Volleyball</option>
</select> 
</div>   
<label for="checkbox">Please Check All Relevant boxes:</label>
<div>
<input type="checkbox" id="playerscheckbox" name="playerscheckbox">
<label for="playerscheckbox"> Looking for Players</label><br>
<input type="checkbox" id="coachcheckbox" name="coachcheckbox">
<label for="coachcheckbox"> Looking for Coach</label><br>
<input type="checkbox" id="studentscheckbox" name="studentscheckbox">
<label for="studentscheckbox"> Looking for Students</label><br>
</div>



<script src="./js/createblogpost.js"></script>