<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form" action="/login/password" method="post">
        <div>
            <label for="username">Username</label>
            <input id="username-login" name="username" type="text" autocomplete="username" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password-login" name="password" type="password" autocomplete="password" required />
        </div>
        <div>
            <button type="submit">Sign in</button>
        </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>