{{#each posts}}
<div class="sports-card">
  <div class="sports-card-header">
    <h1>Testing</h1>
    {{posts[0].title}}
  </div>
  <div class="card-body">
  <p>Testing</p>
  {{posts[0].content}}
  </div>
</div>
{{/each}}

